input, label, select {
  display: block;
  margin: 10px;
  width: 100%;
}

input, select {
  padding: 5px;
  min-height: 30px;
  border-radius: 10px;
  border: 1px solid gray;
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

.container {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}